<div class="Header">
  <a class="headLeft" href="/logout"> < Logout</a>
  <h1 class="Title">{{user.firstName}}'s Scan History</h1>
  <a class="headRight setting js-modal-open" data-target="modal-setting" href=""><img src="/images/gear.png" alt=""></a>
</div>

<div id="itemList-container">
  <a href="/scan">
    <div class="itemElement">
      <img src="/images/plus.png" alt="">
      <p>Scan New Object</p>
    </div>
  </a>
{{#each user.scan}}
  <div>
    <div class="itemElement">
      <a href="/scanplay/{{this.id}}">
        
          <img src="/images/scan/{{this.name}}" alt="">
          <p>{{this.labels.0.description}}</p>
        
      </a>
      <a id="delete" href="/scanplay/delete/{{this.id}}">delete this</a>
    </div>
  </div>
{{/each}}
</div>

<div class="modal js-modal" id="modal-setting">
  <div class="modal__bg js-modal-close"></div>
      <div class="modal__content">
      <form action="/profile/lang" method="post">
        <div class="form-container">
          <label class="label" for="language">Language to learn</label>
          <div class="langInput sel">
            <select name="language">
              <option value="nl">Dutch</option>
              <option value="en">English</option>
              <option value="hi">Hindy</option>
              <option value="it">Italian</option>
              <option value="ja" selected>Japanese</option>
              <option value="es">Spanish</option>
            </select> 
          </div>
           <button id="langChange">Save</button>
        </div>
      </form>
      {{!-- <a class="js-modal-close" href="">Close</a> --}}
    </div>
  </div>
